.story {
  padding: 20px 0;
  font-size: 20px;
  border-bottom: 1px solid #acacac;
  .paragraph {
    padding: 40px 0;
    color: #5c5c5c;
  }

  .button {
    text-align: center;
    padding: 40px 0;
    margin: 0 auto;
    width: 80%;
    border-top: 1px solid #e2e2e2;

    .btn {
      padding: 12px 60px;
      font-size: 20px;
    }

    .btn-primary {
      border-bottom: 3px solid #0048ff;
      margin-right: 20px;
    }

    .btn-success {
      border-bottom: 3px solid #1e7e35;
    }
  }
}
